<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>
Wyatt Solutions is a boutique provider specializing in high-value digital transformation services for private equity and entrepreneurs. Our mission is to automate your business processes with a focus on scalability and reliability, giving you back valuable time.

We offer an open-source digital transformation accelerator designed to drive innovation and efficiency in highly customized or data-intensive applications. Our end-to-end solutions include team training and technical documentation, tailored to support your success in the evolving tech landscape.

Whether you’re a startup establishing a robust technology foundation or a private equity firm seeking to optimize complex automation processes, we are here to help. Our services cover advanced areas like Retrieval Augmented Generation (RAG), and we use tools such as Apache Spark, advanced monitoring capabilities, and CI/CD pipelines to enhance your operations./p>
      </div>
      <div class="col-lg-4">
        <p>Whether you're a startup building a solid technology foundation, private equity optimizing your difficult to automate like Retrieval Augmented Generation (RAG). Our end-to-end solutions are designed to support your success in the ever-evolving tech landscape including team training and technical documentation to go along wth our highly scalable custom solutions. Contact us for a quote.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/Apress/mlops-lifecycle-toolkit" class="btn btn-lg btn-outline">
          <i class="fa fa-github"></i> Our Github
        </a>
      </div>
    </div>
  </div>
</section>
